{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><a href="/SnowTricks/public/" >Les figures</a></li>
                    <li><a href="/SnowTricks/public/Inscription" class="active">S'inscrire</a></li>
                    <li><a href="/SnowTricks/public/Connexion">Se connecter</a></li>
                    {%if app.session.get('logged') == true %}
                        <li><a href="/SnowTricks/public/Connexion">Tableau de bord</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class='text-center'>Ajouter une figure</h1>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_row(form.nom,{'attr':{'class':'form-control','placeholder':'Veuillez saisir un nom pour la figure'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.description,{'attr':{'class':'form-control','placeholder':'Veuillez saisir une description de la figure'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.groupe,{'attr':{'class':'form-control','placeholder':'Veuillez saisir le groupe de la figure'}}) }}
                        </div>
                        <div class="form-group text-center">
                            {{ form_row(form.save,{'attr':{'class':'btn btn-primary'}}) }}
                        </div>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}