{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row" >
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-ST" >
                    <a class="navbar-brand navbar-brand-ST" href="/SnowTricks/public/">SnowTricks</a>
                    <div class="collapse navbar-collapse navigation-menu" id="navbarSupportedContent" >
                      <ul class="navbar-nav ">
                        <li class="nav-item active ">
                          <a class=" nav-link-ST " href="/">Les figures <span class="sr-only">(current)</span></a>
                        </li>
                        {%if app.user %}
                            <li class="nav-item">
                              <a class=" nav-link-ST"  href="/deconnexion">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class=" nav-link-ST" href="/inscription">S'inscrire</a>
                            </li>
                            <li class="nav-item">
                              <a class=" nav-link-ST"  href="/connexion">Connexion</a>
                            </li>
                        {%endif%}
                      </ul>
                    </div>
                  </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class='ST-title'>Ajouter une figure</h1>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_row(form.nom,{'attr':{'class':'form-control','placeholder':'Veuillez saisir un nom pour la figure'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.description,{'attr':{'class':'form-control','placeholder':'Veuillez saisir une description de la figure'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.groupe,{'attr':{'class':'form-control','placeholder':'Veuillez saisir le groupe de la figure'}}) }}
                        </div>
                        <div class="form-group update-medias-btns">
                            <button type="button" class="add_media_link btn btn-primary medias-btns" onclick="window.history.back()">Retour</button>
                            {{ form_row(form.save,{'attr':{'class':'btn btn-primary medias-btns'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div> 
    {% endblock %}
{% endblock %}