{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row" >
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-ST" >
                        <a class="navbar-brand navbar-brand-ST" href="/">SnowTricks</a>
                        <div class="collapse navbar-collapse navigation-menu"  id='navbarToCollapse' >
                            <ul class="navbar-nav ">
                                <li class="nav-item active ">
                          <a class=" nav-link-homepage-ST " href="/#les-figures">Les figures <span class="sr-only">(current)</span></a>
                        </li>
                        {%if app.user %}
                            <li class="nav-item">
                              <a class=" nav-link-ST"  href="/deconnexion">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class=" nav-link-ST" href="/inscription">S'inscrire</a>
                            </li>
                            <li class="nav-item">
                              <a class=" nav-link-ST"  href="/connexion">Connexion</a>
                            </li>
                        {%endif%}
                            </ul>
                        </div>
                    </nav>
                   
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {% for message in app.flashes('successEditTrick') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <h1 class="trick-name">{{figure.nom}}</h1>
                    <div class="trick-presentation">
                        {% if figure.mainPicture.url is defined %}
                            <img class="trick-main-picture" src="{{figure.mainPicture.url}}" alt="{{figure.mainPicture.alt}}">
                        {% else %}
                            <img class="trick-main-picture" src="{{asset('img/default-image.jpg')}}" alt="Image par défaut">
                        {%endif%}
                    </div>
                    <div class="glyph-container">
                        <a href="/modifier-une-figure/{{figure.id}}">
                            <i class="material-icons glyphicon-media">create</i>
                        </a>
                        <a href="/supprimer-une-figure/{{figure.id}}">
                           <i class="material-icons glyphicon-remove">clear</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for media in medias %}
                    <div class="col-3">
                        <div class="media-trick">
                            <h5 class="ST-title">{{media.titre}}</h5>
                            {%if media.isImage == true%}
                                <img class="img-trick" src="{{media.url}}" alt="{{media.alt}}">
                            {%else%}
                                <iframe class="video-trick"
                                    src="{{media.url}}">
                                </iframe>
                            {%endif%}
                            <br>
                            <div class="glyph-container">
                                <a href="/modifier-un-media/{{media.id}}/{{figure.id}}">
                                    <span class="glyphicon glyphicon-pencil glyphicon-media" aria-hidden="true"></span>
                                </a>
                                <a href="/supprimer-un-media/{{media.id}}/{{figure.id}}">
                                    <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="trick-description">Description : {{figure.description}}</p>
                    <p class="trick-description">Cette figure appartient à la famille des <b>{{figure.groupe}}</b></p>
                </div>
                <div class="col-12">
                    <p class="trick-author">Trick ajouté par : <b>{{figure.utilisateur.prenom}} {{figure.utilisateur.nom}}</b> le <b>{{figure.dateCreation|date('d-m-Y')}}</b></p>
                    {%if figure.dernierUtilisateurModification.prenom is defined %}
                        <p class="trick-author">Dernière modification par : <b>{{figure.dernierUtilisateurModification.prenom}} {{figure.dernierUtilisateurModification.nom}}</b> le <b>{{figure.dateDerniereModification|date('d-m-Y')}}</b></p>
                    {%endif%}
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') == true%}
                <div class="row">
                    <div class="col-12">
                        <h3 class="ST-title">Ajouter un commentaire</h3>
                        <div class="form-comment">
                            {{ form_start(form, {'attr': {'class': 'form-contenu-input'}}) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_row(form.contenu,{'attr':{'class':'form-control','placeholder':'Saisissez votre commentaire'}}) }}
                            </div>
                            <div class="form-group update-medias-btns">
                                <button type="button" class="add_media_link btn btn-primary medias-btns" onclick="window.history.back()">Retour</button>
                                {{ form_row(form.save,{'attr':{'class':'btn btn-primary medias-btns'}}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            {%endif%}
            <div class="row">
                <div class="col-12">
                    {%for message in messages%}
                        <div>
                            <img src="{comment.utilisateur.media.url}" alt="{utilisateur.media.url}">
                            <div class="trick-comment">
                                <p>{{message.contenu}}</p>
                                <span> Le {{message.date|date('d-m-Y')}} par {{message.utilisateur.prenom}} {{message.utilisateur.nom}}</span>
                            </div>
                        </div>
                        <hr>
                    {%endfor%}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}