{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid"  >
            <div class="row" >
                <div class="col-12 menu-md-plus img-banner-container" style="background-image: url('{{asset('img/WP_snow4.jpg')}}');">
                    <nav class="navbar" >
                        <ul class="navbar-container-menu-md-plus">
                            <li>
                              <a class=" nav-link-homepage-ST" href="/">Accueil</a>
                            </li>
                            {%if app.user %}
                                <a class=" nav-link-homepage-ST" href="/profil-membre/{{app.user.id}}">{{app.user.prenom}} {{app.user.nom}}</a>
                                <li>
                                  <a class=" nav-link-homepage-ST"  href="/deconnexion">Déconnexion</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="nav-link-homepage-ST" href="/inscription">S'inscrire</a>
                                </li>
                                <li>
                                  <a class="nav-link-homepage-ST"  href="/connexion">Connexion</a>
                                </li>
                            {%endif%}
                        </ul>
                    </nav>
                    <h1 class="ST-main-title">Snowtricks</h1>
                    <h3 class="ST-subtitle">Ensemble partageons nos connaissances sur le snowboard freestyle</h3>
                    <a href="#les-figures">
                        <div class="arrow-scroll-down">
                            <i class="fas fa-arrow-circle-down"></i>
                        </div>
                    </a>
                </div>
                <div class="col-12 menu-md-less img-banner-container" style="background-image: url('{{asset('img/WP_snow4.jpg')}}');">
                    <h1 class="ST-main-title" >Snowtricks</h1>
                    <h3 class="ST-subtitle">Ensemble partageons nos connaissances sur le snowboard freestyle</h3>
                    <nav class=" fixed-bottom navbar-mobile navbar-light" >
                            <ul class="navbar-container-menu-md-less" >
                                {%if app.user %}
                                    <li class="element-menu-md-less " id="photo-utilisateur">
                                        <a href="/profil-membre/{{app.user.id}}"><i class="fas fa-user-circle icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less active ">
                                        <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                                      </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/deconnexion"><i class="fas fa-sign-out-alt icons-menu-mobile"></i></a>
                                    </li>
                                {% else %}
                                    <li class="element-menu-md-less">
                                        <a class=" nav-link-homepage-ST" href="/inscription"><i class="fas fa-user-plus icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less active ">
                                        <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                                      </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/connexion"><i class="fas fa-sign-in-alt icons-menu-mobile"></i></a>
                                    </li>
                                {%endif%}
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        <div class="container-fluid content">
            <div class="row">
                <div class="col-12">
                    <h3 class="ST-title" id="les-figures">Les figures</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for message in app.flashes('successDeleteTrick') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {%if figures is defined%}
                        {% for figure in figures %}
                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="media-trick">
                                        {% if figure.mainPicture.url is defined and figure.mainPicture.isMainPicture is not null%}
                                            <a href="figure/{{figure.nom}}">
                                                <img class="img-trick" src="{{figure.mainPicture.url}}" alt="{{figure.mainPicture.alt}}">
                                            </a>
                                        {%else%}
                                            <a href="figure/{{figure.nom}}">
                                                <img class="img-trick" src="{{asset('img/default-image.jpg')}}" alt="Image par défaut">
                                            </a>
                                        {%endif%}
                                            <div class="glyph-container">
                                                <a href="/modifier-une-figure/{{figure.id}}">
                                                    <i class="fas fa-edit glyphicon-edit-hp"></i>
                                                </a>
                                                <span class="trick-title">{{figure.nom}}</span>
                                                <a>
                                                    <i onclick="deleteTrick({{figure.id}})" class="fa fa-trash glyphicon-remove-hp delete-trick"></i>
                                                </a>
                                            </div>
                                    </div>
                                </div>
                        {%endfor%}
                {%endif%}
            </div>
        </div>
        <a href="/ajouter-une-figure">
            <div class="bt-add-trick">
                <div><i class="fas fa-plus"></i></div>
            </div>   
        </a>    
        <script> //Demandede confirmation pour la suppression d'une figure
            function deleteTrick($id){
                window.location.replace('/supprimer-une-figure/'+$id);
            }
        </script>
    {% endblock %}
{% endblock %}