{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid"  >
            <div class="row" >
                <div class="col-12 menu-md-plus img-banner-container" style="background-image: url('{{asset('img/WP_snow4.jpg')}}');">
                    
                    <nav class="navbar  navbar-ST" >
                            <ul class="navbar-container-menu-md-plus">
                                <li class="">
                                  <a class=" nav-link-homepage-ST" href="/">Accueil</a>
                                </li>
                                {%if app.user %}
                                    {#<img src="{{app.user.urlPhoto}}" alt="Photo de {{app.user.prenom }} {{app.user.nom}}" class="img-user ">#}
                                    <a class=" nav-link-homepage-ST" href="/profil-membre/{{app.user.id}}">{{app.user.prenom}} {{app.user.nom}}</a>
                                    <li class="nav-item">
                                      <a class=" nav-link-homepage-ST"  href="/deconnexion">Déconnexion</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class=" nav-link-homepage-ST" href="/inscription">S'inscrire</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class=" nav-link-homepage-ST"  href="/connexion">Connexion</a>
                                    </li>
                                {%endif%}
                          </ul>
                    </nav>
                          <h1 class="ST-main-title" >Snowtricks</h1>
                    <h3 class="ST-subtitle">Ensemble partageons nos connaissances sur le snowboard freestyle</h3>
                </div>
                <div class="col-12 menu-md-less img-banner-container" style="background-image: url('{{asset('img/WP_snow4.jpg')}}');">
                    <h1 class="ST-main-title" >Snowtricks</h1>
                    <h3 class="ST-subtitle">Ensemble partageons nos connaissances sur le snowboard freestyle</h3>
                    <nav class=" fixed-bottom bg-light navbar-light" >
                            <ul class="navbar-container-menu-md-less" >
                                <li class="element-menu-md-less active ">
                                  <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                                </li>
                                {%if app.user %}
                                    <li class="element-menu-md-less " id="photo-utilisateur">
                                        <a href="/profil-membre/{{app.user.id}}"><i class="fas fa-user-circle icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/deconnexion"><i class="fas fa-sign-out-alt icons-menu-mobile"></i></a>
                                    </li>
                                {% else %}
                                    <li class="element-menu-md-less">
                                        <a class=" nav-link-homepage-ST" href="/inscription"><i class="fas fa-user-plus icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/connexion"><i class="fas fa-sign-in-alt icons-menu-mobile"></i></a>
                                    </li>
                                {%endif%}
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="ST-title" id="les-figures">Les figures</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for message in app.flashes('successDeleteTrick') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {%if figures is defined%}
                        {% for figure in figures %}
                            <div class="col-lg-3 col-md-4 col-xs-12">
                                <a href="figure/{{figure.nom}}">
                                    <div class="media-trick">
                                        <h4 class="ST-title">{{figure.nom}}</h4>
                                        {%if figure.mainPicture.url is defined %}
                                            <img class="img-trick" src="{{figure.mainPicture.url}}" alt="{{figure.mainPicture.alt}}">
                                        {%else%}
                                            <img class="img-trick" src="{{asset('img/default-image.jpg')}}" alt="Image par défaut">
                                        {%endif%}
                                        <br>
                                        <div class="glyph-container">
                                            <a href="/modifier-une-figure/{{figure.id}}">
                                                <i class="material-icons glyphicon-media">create</i>
                                            </a>
                                            <a href="/supprimer-une-figure/{{figure.id}}">
                                               <i class="material-icons glyphicon-remove">clear</i>
                                            </a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {%endfor%}
                {%endif%}
                
            </div>
        </div>
        <div class="bt-add-trick">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <a href="/ajouter-une-figure"><i class="material-icons">add</i></a>
            <span>Ajouter une figure</span>
        </div>            
    {% endblock %}
{% endblock %}