{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <ul>
                    <li><a href="/SnowTricks/public/" >Les figures</a></li>
                    <li><a href="/SnowTricks/public/inscription" class="active">S'inscrire</a></li>
                    <li><a href="/SnowTricks/public/connexion">Se connecter</a></li>
                    {%if is_granted('IS_AUTHENTICATED_FULLY') == true %}
                       <li><a href="/SnowTricks/public/tableau-de-bord">Tableau de bord</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{figure.nom}}</h1>
                    <h2>Venez découvrir tout ce qu'il y a à savoir sur le {{figure.nom}} </h2>
                    <p>{{figure.description}}</p>
                    <span>{{figure.groupe}}</span>
                    <span> Ajouté par Nom Utilisateur à venir</span>
                    <div>
                        {% for media in figure.medias%}
                            <h6>{{media.titre}}</h6>
                            <img src="{{media.url}}" alt="{{media.alt}}">
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}