{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
         <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-12 menu-md-plus-AP">
                    <nav class="navbar-AP" >
                        <ul class="navbar-container-menu-md-plus-AP">
                            <a class="navbar-brand navbar-brand-AP" href="/">SnowTricks</a>
                            <li>
                              <a class="nav-link-AP" href="/">Accueil</a>
                            </li>
                            {%if app.user %}
                                <a class="nav-link-AP" href="/profil-membre/{{app.user.id}}">{{app.user.prenom}} {{app.user.nom}}</a>
                                <li>
                                  <a class="nav-link-AP"  href="/deconnexion">Déconnexion</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="nav-link-AP" href="/inscription">S'inscrire</a>
                                </li>
                                <li>
                                  <a class="nav-link-AP"  href="/connexion">Connexion</a>
                                </li>
                            {%endif%}
                        </ul>
                    </nav>
                </div>
                {# Menu mobile #}
                <div class="col-12 menu-md-less">
                    <nav class=" fixed-bottom navbar-mobile navbar-light" >
                            <ul class="navbar-container-menu-md-less" >
                                {%if app.user %}
                                    <li class="element-menu-md-less " id="photo-utilisateur">
                                        <a href="/profil-membre/{{app.user.id}}"><i class="fas fa-user-circle icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less active ">
                                        <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                                      </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/deconnexion"><i class="fas fa-sign-out-alt icons-menu-mobile"></i></a>
                                    </li>
                                {% else %}
                                    <li class="element-menu-md-less">
                                        <a class=" nav-link-homepage-ST" href="/inscription"><i class="fas fa-user-plus icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less active ">
                                        <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                                      </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/connexion"><i class="fas fa-sign-in-alt icons-menu-mobile"></i></a>
                                    </li>
                                {%endif%}
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h1 class='ST-title'>Connexion</h1>
                    {% for message in app.flashes('successsignup') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('errorActivateAccount') %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('successActivateAccount') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('successResetPassword') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('errorResetPasswordMail') %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('errorResetPasswordToken') %}
                        <div class="alert alert-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('successNewPassword') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                     {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form method="post">
                        <div class="form-group">
                            <label for="inputEmail" class="form-label required">Adresse email </label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Veuillez saisir votre adresse email" required autofocus>
                        </div>
                         <div class="form-group">
                            <label for="inputPassword" class="form-label required">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Veuillez saisir votre mot de passe" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                        
                        <div class="form-group text-center">
                            <button class="btn btn-lg  btn-block" type="submit">Me connecter</button>
                        </div>
                    </form>
                        <div class="connexion-links-container">
                            <div>
                                <a  class="connexion-links" href="{{ path('signup') }}">S'inscrire ?</a>
                            </div>
                            <div>
                                <a class="connexion-links"  href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>
                            </div>
                        </div>
                        
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
        


