{% extends 'base.html.twig' %}

{% block title %}Modification de {{figure.nom}}  - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-12 menu-md-plus-AP">
                    <nav class="navbar-AP" >
                        <ul class="navbar-container-menu-md-plus-AP">
                            <a class="navbar-brand navbar-brand-AP" href="/">SnowTricks</a>
                            <li>
                              <a class="nav-link-AP" href="/">Accueil</a>
                            </li>
                            {%if app.user %}
                                <a class="nav-link-AP" href="/profil-membre/{{app.user.id}}">{{app.user.prenom}} {{app.user.nom}}</a>
                                <li>
                                  <a class="nav-link-AP"  href="/deconnexion">Déconnexion</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="nav-link-AP" href="/inscription">S'inscrire</a>
                                </li>
                                <li>
                                  <a class="nav-link-AP"  href="/connexion">Connexion</a>
                                </li>
                            {%endif%}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {# Menu mobile #}
        <div class="col-12 menu-md-less">
            <nav class=" fixed-bottom navbar-mobile navbar-light" >
                <ul class="navbar-container-menu-md-less" >
                    {%if app.user %}
                        <li class="element-menu-md-less " id="photo-utilisateur">
                            <a href="/profil-membre/{{app.user.id}}"><i class="fas fa-user-circle icons-menu-mobile"></i></a>
                        </li>
                        <li class="element-menu-md-less active ">
                            <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                        </li>
                        <li class="element-menu-md-less">
                          <a class=" "  href="/deconnexion"><i class="fas fa-sign-out-alt icons-menu-mobile"></i></a>
                        </li>
                    {% else %}
                        <li class="element-menu-md-less">
                            <a class=" nav-link-homepage-ST" href="/inscription"><i class="fas fa-user-plus icons-menu-mobile"></i></a>
                        </li>
                        <li class="element-menu-md-less active ">
                            <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                        </li>
                        <li class="element-menu-md-less">
                          <a class=" "  href="/connexion"><i class="fas fa-sign-in-alt icons-menu-mobile"></i></a>
                        </li>
                    {%endif%}
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <h1 class='ST-title'>Modifier le trick : {{figure.nom}}</h1>
                    {% for message in app.flashes('successMediaTrick') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Veuillez saisir un nom pour la figure'}}) }}
                            <small>{{ form_help(form.nom) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.nom) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.description,{'attr':{'class':'form-control textarea-comment','placeholder':'Veuillez saisir une description de la figure'}}) }}
                            <small>{{ form_help(form.description) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.description) }}
                            </div>
                            
                            {#{{ form_row(form.description,{'attr':{'class':'form-control textarea-comment','placeholder':'Veuillez saisir une description de la figure'}}) }}#}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.groupe, 'Groupe', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.groupe,{'attr':{'class':'form-control','placeholder':'Veuillez saisir le groupe de la figure'}}) }}
                            <small>{{ form_help(form.groupe) }}</small>
                            <div class="form-error">
                                {{ form_errors(form.groupe) }}
                            </div>
                        </div>
                         <h3 class="ST-title"> Les médias liées au trick</h3>
                </div>
            </div>
        </div> 
                        
        <div class="container-fluid">
            <div class="row">
                {% for media in medias %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="media-trick">
                            
                            {%if media.isImage == true%}
                                <img class="img-trick" src="{{media.url}}" alt="{{media.alt}}">
                            {%else%}
                                <iframe class="video-trick" 
                                    src="{{media.url}}">
                                </iframe>
                            {%endif%}
                            <br>
                            <div class="trick-title">
                                <span>{{media.titre}}</span>
                            </div>
                            
                            <div class="glyph-container">
                                 
                                 <a href="/modifier-un-media/{{media.id}}/{{figure.id}}">
                                    <i class="fas fa-edit glyphicon-edit-hp"></i>
                                </a>
                                
                                <a>
                                   <i data-url="/supprimer-un-media/{{media.id}}/{{figure.id}}" class="fa fa-trash glyphicon-remove-hp delete-media" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
            {#<div class="form-group">
                <ul class="medias" data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}">
                </ul>
            </div>#}
            <div class="form-group update-medias-btns">
                <button type="button" class="add_media_link btn medias-btns" onclick="window.history.back()">Retour</button>
                <a href="/figure/{{figure.nom}}">
                    <button type="button" class="add_media_link btn medias-btns">Voir la figure</button>
                </a>
                <a href="/ajouter-un-media/{{figure.id}}">
                    <button type="button" class="add_media_link btn medias-btns">Ajouter un media</button>
                 </a>
                {{ form_row(form.save,{'attr':{'class':'btn medias-btns'}}) }}
            </div>
            {{ form_end(form) }}
            </div>
    {% endblock %}
{% endblock %}