{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe - SnowTricks{% endblock %}
{% block body %}
    {% block content %}
         <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-12 menu-md-plus-AP">
                    <nav class="navbar-AP" >
                        <ul class="navbar-container-menu-md-plus-AP">
                            <a class="navbar-brand navbar-brand-AP" href="/">SnowTricks</a>
                            <li>
                              <a class="nav-link-AP" href="/">Accueil</a>
                            </li>
                            {%if app.user %}
                                <a class="nav-link-AP" href="/profil-membre/{{app.user.id}}">{{app.user.prenom}} {{app.user.nom}}</a>
                                <li>
                                  <a class="nav-link-AP"  href="/deconnexion">Déconnexion</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="nav-link-AP" href="/inscription">S'inscrire</a>
                                </li>
                                <li>
                                  <a class="nav-link-AP"  href="/connexion">Connexion</a>
                                </li>
                            {%endif%}
                        </ul>
                    </nav>
                </div>
                {# Menu mobile #}
                <div class="col-12 menu-md-less">
                    <nav class=" fixed-bottom navbar-mobile navbar-light" >
                            <ul class="navbar-container-menu-md-less" >
                                {%if app.user %}
                                    <li class="element-menu-md-less " id="photo-utilisateur">
                                        <a href="/profil-membre/{{app.user.id}}"><i class="fas fa-user-circle icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less active ">
                                        <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                                      </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/deconnexion"><i class="fas fa-sign-out-alt icons-menu-mobile"></i></a>
                                    </li>
                                {% else %}
                                    <li class="element-menu-md-less">
                                        <a class=" nav-link-homepage-ST" href="/inscription"><i class="fas fa-user-plus icons-menu-mobile"></i></a>
                                    </li>
                                    <li class="element-menu-md-less active ">
                                        <a class=" " href="/"><span class="fas fa-home icons-menu-mobile"></span> </a>
                                      </li>
                                    <li class="element-menu-md-less">
                                      <a class=" "  href="/connexion"><i class="fas fa-sign-in-alt icons-menu-mobile"></i></a>
                                    </li>
                                {%endif%}
                          </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class='ST-title'>Réinitialiser mon mot de passe</h1>
                    {% for message in app.flashes('errorResetPasswordMail') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Veuillez saisir votre email','required': 'required', 'autofocus':'autofocus'}}) }}
                        <small>{{ form_help(form.email) }}</small>
                        <div class="form-error">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn">Réinitialiser</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}